@import './../../design/styles/common/global.styl'

.simpleDialog
  width: 18rem;

h4
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;

.group
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--ui-border-color);
  padding-bottom: 0.5rem;

.hidden
  display: none;

select
  margin-top: 0.5rem;
  margin-left: 1rem;

input
  margin-left: 1rem;
